{% macro render_gallery(prefix, attach) %}
<div class="w-full overflow-x-scroll">
  <ul class="flex flex-col flex-wrap items-center justify-center w-full gap-1 h-80 lg:h-144 pswp-gallery "
      id="{{prefix}}">
      
      {% for image in attach %}
          {% if image._id.startswith(prefix+"000") %}
          <a class="w-36 lg:w-80 " href="{{ 'https://voco.rover.de/' + image._id|url }}" data-pswp-width="{{ image.width }}"
              data-pswp-height="{{ image.height }}" target="_blank">
              <img src="{{ 'https://voco.rover.de/' +image.thumbnail(320)|url }}" alt=""
                  class="object-cover w-full h-full align-middle"></img>
          </a>
          {% endif %}
      {% endfor %}
      {{"static/output.css" | url}}
      <script type="module">
        import PhotoSwipeLightbox from './{{"static/photoswipe/dist/photoswipe-lightbox.esm.js"|url}}';
        import PhotoSwipe from './{{"static/photoswipe/dist/photoswipe.esm.js"|url}}';
        
        const lightbox = new PhotoSwipeLightbox({
            gallery: '#{{prefix}}',
            children: 'a',
            pswpModule: PhotoSwipe
        });

        lightbox.init();
      </script>
  </ul>
</div>
{% endmacro %}





